.city{
    &__cont{
        background-color: $list-bg;
    }
    &__input_sec{
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: center;
        padding:10px;
    }
    &__add_item{
        display: flex;
        width: 100%;
        .input_comp{
            flex: 1;
            height: 40px;
            background: $list-bg;
            border: 1px solid $white;
            border-right: 0;
            color: $white;
            padding-left: 20px;
            font-size: 16px;
        }
        .addbutton{
            flex: 0.2;
            background: $addbtn-bg;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            border: 1px solid $addbtn-bg;
            height: 42px;
        }
    }
    &__list_sec{
        margin:0;
        padding:0
    }
    &__listitem{
        height: 40px;
        color: $white;
        background: $list-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-weight: bold;
        box-sizing: border-box;
        cursor: pointer;
        &.item_active{
            background-color: $list-bg-active;
        }
    }
}