.city{
    &__cont{
        background-color: #545759;
        .item_active{
            background-color: #439ff0;
        }
    }
    &__input_sec{
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: center;
        padding:10px;
    }
    &__add_item{
        display: flex;
        width: 100%;
        .input_comp{
            flex: 1;
            height: 40px;
            background: #545759;
            border: 1px solid white;
            border-right: 0;
            color: white;
            padding-left: 20px;
            font-size: 16px;
        }
        .addbutton{
            flex: 0.2;
            background: #c14d0d;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border: 1px solid #c14d0d;;
            height: 42px;
        }
    }
    &__listitem{
        height: 40px;
        color: #fff;
        background: #545759;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-weight: bold;
        box-sizing: border-box;
    }
}